/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-nov-2019, 13:13:20
    Author     : adonoso
*/

@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

* {
    font-family: 'Karla', sans-serif;
}

body, html {
    height: 100%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='538' height='448.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
    padding: 1%;
}

#main {
    min-height: calc(100% - 80px);

    padding-top: 90px;
    overflow:auto;
    width: 100%;
    margin: 0px;
}

#imgPerfilModal {
    width: 50%;
    height: auto;
}

.saveBtn {
    width: 50px !important;
    height: 50px !important;

    border-radius: 0px !important;

    background-image: url("../imgs/iconos/save.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;

    border: none !important;
}

/*----------Pantalla de Categorias-----------*/

#generos {
    box-shadow: 24px 0px 3px -24px #D5AD6D;
}

#generos, #plataformas {
    padding: 1.5%;
    text-align: center;
}

#generos form, #plataformas form {
    text-align: center;
    display: grid;
}

#generos p, #plataformas p {
    margin-bottom: 2%;
    margin-top: 2%;
}

#generos textarea, #plataformas textarea {
    border: none;
    text-align: center;
}

#generos input[type=text], #plataformas input[type=text] {
    text-align: center;
    border: none;
}

#generos input[type=submit], #plataformas input[type=submit] {
    justify-self: center;
    padding: 10px;
    font-size: 1em;
    background-color: white;
    border: 1px solid #D5AD6D;
    border-radius: 5px;
    color: black;
    transition: all 0.3s ease;
}

#generos input[type=submit]:hover, #plataformas input[type=submit]:hover {
    border-color: #e3e4e5;
}

#generos h1, #plataformas h1 {
    text-align: center;
    margin-bottom: 10px;
}

#imgPerfil {
    border-radius: 15px;
    cursor: pointer;
    margin-right: 30px;
}

.editable {
    border: 1px dotted #D5AD6D !important;
    text-align: left !important;
    transition: all 0.3s ease;
}

.editable:hover {
    border-color: #e3e4e5 !important;
}

/*----------------------------------------*/

/*--------Pantalla de Añadir Juego--------*/

#addJuego {
    margin: 1%;
    background: rgba(255,255,255, 0.7);
    border-radius: 10px;
    padding: 2%;
    overflow-x: hidden;
}

#addJuego img {
    margin-top: 5%;
    height: 200px;
    width: 100%;
}

#addJuego select {
    overflow: hidden;
}

#btnAddGame {
    background-color: transparent;
    border: none;
    height: 150px;
    width: 150px;

    background-image: url(../imgs/iconos/checked.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

#btnAddGame:hover {
    transform: scale(1.05);
}

.juego-container {
    text-align: center;
}

.juego-container p {
    margin: 10px 0px 13px 0px;
}

.juego-container input[type=text], .juego-container input[type=date], .juego-container input[type=number], .juego-container select {
    text-align: center;
    width: 100%;
    border: 1px solid #D5AD6D;
    background-color: white;

    transition: all 0.3s ease;
}

.juego-container textarea {
    border: 1px solid #D5AD6D;
    transition: all 0.3s ease;
}

.juego-container select:focus {
    outline: none;
}

.juego-container input[type=text]:hover, .juego-container input[type=date]:hover, .juego-container input[type=number]:hover, .juego-container select:hover {
    border: 1px solid #e3e4e5;
}

.juego-container textarea:hover {
    border: 1px solid #e3e4e5;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-align: center;
    padding-top: 1%;
    margin: 2% 25%;
    width: 50%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #D5AD6D;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inputfile:focus + label,
.inputfile + label:hover {
    border-color: #e3e4e5;
}

/*----------------------------------------*/

.removeMargin {
    padding-bottom: 0px !important;
}

.centered {
    text-align: center;
}

.modal-content {
    border: 1px solid #D5AD6D;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.gold {
    color: #D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.breadcrumb {
    background-color: transparent;
}

.valoracion {
    color: #D5AD6D;
    font-size: 3em;
}

.audioBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
    color: #D5AD6D;
    border: 1px solid #D5AD6D;
    border-radius: 10px;

    transition: all 0.3s ease;
}

.audioBtn:hover {
    border: 1px solid #e3e4e5;
}

@media
only screen 
and (min-width: 0px) 
and (max-device-width: 830px) and (orientation: landscape)  {

}

@media
only screen 
and (max-device-width: 740px) {

    * {
        font-size: 1.1em;
    }

}