/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-nov-2019, 12:20:58
    Author     : adonoso
*/

#newArticle {
    margin: 0px 30px 90px 30px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 110px;
    min-height: 110px;
    
    background-image: url(../imgs/iconos/plus.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    transition: all 0.3s ease;
}

#newArticle:hover {
    transform: scale(1.05);
}

.noticiaDiv {
    min-height: 300px;
    padding: 2%;
    margin-left: 10px;
    background: rgba(255,255,255, 0.7);
    border: 1px solid #D5AD6D;
}

.noticiaDiv:hover {
    border: 1px solid #e3e4e5;
}