/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-nov-2019, 10:40:21
    Author     : adonoso
*/

#main img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

p {
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.complete {
    height: 100%;
}

.half {
    padding-left: 5%;
    padding-right: 5%;
    min-height: 20%;
}

.half p, .half h1 {
    text-align: justify !important;
}

h1 {
    margin-bottom: 40px;
}